<div class="container mt-4">
    <div class="row">
        <div class="col-12">

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nombre" #name>
                <input type="text" class="form-control" placeholder="Apellido" #surname>
                <button (click)="search(name.value, surname.value)" class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
            </div>


        </div>
    </div>
</div>

<button (click)="addNewPost()" type="button" class="btn btn-primary">Añadir nuevo</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <button (click)="editPost(1234)" type="button" class="btn btn-success">Editar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>
                <button (click)="editPost(1235)" type="button" class="btn btn-success">Editar</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>
                <button (click)="editPost(3334)" type="button" class="btn btn-success">Editar</button>
            </td>
        </tr>
    </tbody>
</table>
